body {
  font-family: Inter, sans-serif;
}

.post-title {
  font-size: 2rem;
  font-weight: bold;
}

a {
  color: #ff3b3b;
}

.socials {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.socials a {
  padding: 8px 14px;
  border: 1px solid #333;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-size: 0.9rem;
}

.socials a:hover {
  border-color: #ff3b3b;
  transform: translateY(-2px);
}